# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.resolved

# Build artifacts
build/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods / SPM
Pods/
.build/
Package.resolved

# macOS
.DS_Store
